.repoLink{
    text-decoration: none;
}


.card{
    display: flex;
    border-radius: 0px !important;

    color: var(--text);

    background: var(--primary);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    transition: ease-in-out 0.3s;
}

.card .title{
    font-weight: bold;
}

.card .text{
    font-weight: var(--text-weight);
}

.card:hover{
    transform: translate(-5px , -5px);;
    box-shadow: 5px 5px var(--secondary);
}