.intro{
  position: fixed;
  height: 100vh;
  padding: 100px 0%;

  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.titles{
  width: 60%;
}


.titles h2{
  font-size: 1.5rem;
}

.titles p{
  padding-right: 10%;
  color: gray;
}
