.intro{
  position: fixed;
  height: 100vh;
  padding: 100px 0%;

  display: grid;
  align-content: space-between;
  
}

.titles{
  width: 80%;
}


.titles h1{
  font-size: 3rem;
}

.titles h2{
  font-size: 1.5rem;
}

.titles p{
  padding-right: 10%;
  color: gray;
}

@media screen and (max-width: 600px) {
  .intro{
    position: relative;
  }

  .titles{
    width: 90%;
  }
}