.skills{
    padding-top: 50px;
}

.skills ul{
    padding: 0% 15px;
    display: flex; 
    flex-direction: row; 
    gap: 15px; 
    flex-Wrap: wrap;
}

.skills ul li{
    list-style: none;
    border-radius: 15px;
    padding: 0px 10px;
    background-color: rgba(0, 128, 128, .2);
    color: rgba(0, 128, 128, 1);

    transition: ease-in-out 0.2s;
    opacity: .5;
}

.skills ul li:hover{
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .skills ul li{
        opacity: 1;
    }
}