.projects{
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects ul{
    padding: 0%;
}

.projects ul li{
    padding: 0px 15px;
    list-style: none;
}

.projects .linkGit{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 3px;
    border: 1px solid transparent;
    transition: 0.2s;
}

.projects .linkGit:hover{
    color: white;
    border: 1px solid white;
    filter: drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.4));
}