.about{
    padding-top: 100px;
}

.about p{
    color: gray;
    padding: 0px 15px;
}

.about h5{
    display: none;
}

@media screen and (max-width: 600px) {
    .about{
        padding-top: 50px;
    }

    .about h5{
        display: block;
    }
}