.network{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.link{
    font-size: 2.5rem;
    color: gray;
    transition: ease-in-out .2s;
}

.link:hover{
    color: var(--text);
    filter: drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.6));
}
