.network{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.link{
    font-size: 2.5rem;
    color: gray;
    transition: ease-in-out .2s;
}

.link:hover{
    color: var(--text);
    filter: drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.6));
}


@media screen and (max-width: 600px) {
    .network{
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 100%;
        padding: 5px 0px;
        background-color: var(--secondary);
        z-index: 55;
    }

    .link{
        font-size: 1.5rem;
        color: var(--background);
    }

    .wrapper{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}