.nav{
    margin: 2rem 0rem;
    width: max-content;
}

.nav ul{
    padding: 0%;
}

.nav ul li{
    list-style-type: none;
    margin: 1rem 0rem;
}

.link{
    text-decoration: none;
    color: gray;
    transition: all;
    transition-duration: .2s;
    display: flex;
    align-items: center;

}

.link:hover{
    color: var(--text);   
}

.link:hover span{
    background-color: var(--text);
    width: 5rem;
}

.link span{
    display: inline-flex;
    height: 1px;
    width: 3rem;
    background-color: gray;
    margin-right: 0.5rem;
    transition: ease-in-out .2s;
}
