* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h5{
  border-bottom: 2px solid var(--secondary);
}

:root[data-theme='dark']{
  --background: #37005c;
  --primary: rgba(255, 255, 255, 0.06);
  --secondary: #31b9b9;
  --text: white;
  --text-weight: lighter;
}

:root[data-theme='light']{
  --background: #ffffff;
  --primary: #31b9b9;
  --secondary: #37005c;
  --text: black;
  --text-weight: 200;
}